/* ! General style of the website */
html{ overflow-x:hidden;}
body{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #fff;
  right: 0;
  top: 0;
  padding: 0;
}

a{ text-decoration: none; color: #434B4D; cursor: pointer;}
img{ opacity: 1; transition: opacity 0.5s;}
img[data-src] { opacity: 0;}

@font-face { font-family: Bebas Neue Pro; font-weight: Bold; src: url('fonts/Bebas Neue Pro Bold.otf'); font-display: swap;}
@font-face { font-family: Bebas Neue Pro; font-weight: 400; src: url('fonts/Bebas Neue Pro Regular.otf'); font-display: swap;}


/* ! Hero */
.hero{ position: absolute; top: 0; width: 100vw; height: 100vh;}
.hero img{ position: absolute; width: 100vw; top: 0; left: 0; z-index: -1;}


/* ! Hero - header */
.header{
  width: 76vw;
  margin: 2vh 12vw;
  position: absolute;
  top: 3vh;
  left: 0;
  display: flex;
}

.header img{ height: 60px; width: auto; transition: opacity 1s;}

.main-title{
  text-align: center;
  width: 100%;
  font-weight: 700;
  margin-bottom: 2.5vh;
  padding: 0;
  background: -webkit-linear-gradient(right, #BE863F, #785D39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-title h1{
  font-family: Bebas Neue Pro;
  font-weight: 400;
  text-shadow: -0.3px 0 #434B4D, 0 0.3px #434B4D, 0.3px 0 #434B4D, 0 -0.3px #434B4D;
  font-size: 40px;
  color: #434B4D;
  letter-spacing: 1.5px;
  padding-left: 138px;
}

.main-title h2{
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  color: #434B4D;
  letter-spacing: 1.5px;
  padding-left: 138px;
}

.main-title span{
  font-weight: 600;
  color: #8D6B3F;
}

.button{
  height: 46px;
  width: 180px;
  border: 1px solid #8D6B3F;
  margin: 7px 0px;
  color: #8D6B3F;
}

.button a{ width: 100%; height: 100%; color: inherit;}
.button a p:hover{ background-color: #8D6B3F; border: 0px solid #F6F1EB; color: #F6F1EB;}

.button a p{
  width: 100%;
  padding: 14px 0 12px;
  font-family: 'Bebas Neue Pro';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: inherit;
  letter-spacing: 1.3px;
  transition: all 0.2s;
}


/* ! Hero - presentation image */
.presentation-image{ width: 81vw; height: 55vh; margin: 15vh 9.5vw 10vh 9.5vw;}
.presentation-image img{ position: static; width: 100%;}

.mobile-hero-bg{ display: none;}
.mobile-hero-bg2{ display: none;}
.hero-bg{ display: block;}

.presentation-image h1{
  position: absolute;
  width: 61vw;
  padding: 0 10vw;
  top: 14vw;
  text-align: center;
  color: #ffffff;
  font-size: 46px;
  font-weight: 800;
}

.presentation-image h2{
  position: absolute;
  width: 61vw;
  padding: 0 10vw;
  top: 18vw;
  text-align: center;
  color: #F2C995;
  font-size: 46px;
  font-weight: 800;
}

.presentation-image p{
  position: absolute;
  width: 50vw;
  padding: 0 15vw;
  top: 24vw;
  text-align: center;
  color: #D9D9D7;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
}


/* ! Partners */
.partners{
  width: 76vw;
  margin: 59vw 12vw 20vh 12vw;
}

.partners h2{
  font-size: 22px;
  font-weight: 600;
  color: #3F4748;
  letter-spacing: 2.5px;
  text-align: center;
}

.partners__photos{
  margin-top: 6vh;
  width: 76vw;
  display: flex;
}

.partners__photos img{
  width: 11vw;
  margin: 0 2.1vw;
}


/* ! Certifications */
.certifications{
  width: 76vw;
  margin: 0vh 12vw 10vh 12vw;
}

.main-title{ font-size: 40px;}

.certifications p{
  font-size: 22px;
  text-align: center;
  color: #3F4648;
  font-weight: 300;
  margin: 0 20%;
  line-height: 1.5;
  text-shadow: -0.1px 0 #434B4D, 0 0.1px #434B4D, 0.1px 0 #434B4D, 0 -0.1px #434B4D;
}

.certificate-1{
  display: flex;
  margin: 10vh 0 14vh 0;
  width: 100%;
}

.certificate-1 img{
  left: 0;
  width: 20vw;
  height: 20vw;
  padding: 0 14vw 0 4vw;
}

.certificate-2{
  display: flex;
  margin: 10vh 0;
  width: 100%;
}

.certificate-2 img{
  left: 0;
  width: 20vw;
  height: 20vw;
  padding: 0 4vw 0 14vw;
}

.certificate-texts{ width: 50%; margin-top: 10vh;}

.certificate-texts h3{
  font-family: 'Bebas Neue Pro';
  text-align: left;
  font-size: 26px;
  color: #3E4547;
  text-shadow: -0.1px 0 #3E4547, 0 0.1px #3E4547, 0.1px 0 #3E4547, 0 -0.1px #3E4547;
  padding-left: 3vw;
}

.certificate-texts p{
  font-family: 'Lato';
  text-align: left;
  font-size: 18px;
  color: #6F7476;
  text-shadow: -0.1px 0 #6F7476, 0 0.1px #6F7476, 0.1px 0 #6F7476, 0 -0.1px #6F7476;
  padding-left: 3vw;
  margin: 3vh 0;
}

/* ! Old works */
.works{
  width: 100vw;
  margin-bottom: 10vw;
}

.works h1{ width: 76vw; margin: 20vh 12vw; padding-bottom: 0.7vh;}

.scrollmenu{
  overflow: auto;
  white-space: nowrap;
  width: 88vw;
  margin-left: 12vw;
  padding: 20px 0;
}

.scrollmenu .card{
  display: inline-block;
  box-shadow: 0px 8px 20px 0px rgba(239, 234, 234, 0.5);
  margin: 0px 3px 10px 30px;
  background-color: #FEFFFF;
  width: 22vw;
  height: 22vw;
}

.card img{ width: 100%;}


/* ! Footer */
.footer{
  background-color: #F9FAFC;
  width: 76vw;
  padding: 4vh 12vw 0vh 12vw;
}

.footer-blocks{
  width: 94%;
  display: flex;
  margin-left: 6%;
}

.footer-blocks img{
  height: 4vw;
  margin-bottom: 40px;
}

.footer-blocks p{
  color: #9DA1A3;
  margin: 0 0 1.5vh 2vw;
  font-size: 16px;
}

.block1{
  width: 50%;
  margin: 4vh 0;
}

#footer-info-title{ width: 100%; margin-left: 2vw;}

#footer-info-title h1{
  color: #707778;
  font-size: 22px;
  margin-top: 3vw;
  margin-bottom: 40px;
}

.footer-ending{
  border-top: 1px solid #B4B4B5;
  width: 100%;
}

.footer-ending h4{
  color: #9DA1A3;
  text-align: center;
  font-size: 13px;
  margin: 3vh 0 0vh 0;
  padding-bottom: 5vh;
}

/* ! Website devices optimization */
@media (max-width: 1200px) {

  /* ! header title alignment */
  .main-title h1{ padding-left: 152px;}
  .main-title h2{ padding-left: 152px;}

  /* ! hero adjustment */
  .presentation-image{ margin: 22vh 9.5vw 10vh 9.5vw;}
  .presentation-image h1{ top: 14vw; font-size: 40px;}
  .presentation-image h2{ top: 18.3vw; font-size: 40px;}
  .presentation-image p{ top: 24.3vw; font-size: 16px;}

  /* ! Partners */
  .partners{ margin: 63vw 12vw 20vh 12vw;}

  /* ! Certificate */
  .certifications p{ font-size: 19px; margin-bottom: 14vh;}
  .certificate-texts{ margin-top: 0vh;}
  .certificate-texts p{ font-size: 17px;}

  /* ! Works */
  .works h1{ width: 76vw; margin: 20vh 12vw 10vh 12vw;}

  /* ! Footer */
  .footer-blocks p{ font-size: 14px;}
  #footer-info-title h1{ font-size: 20px; margin-top: 2vw;}

}
@media (max-width: 990px) {

  /* ! header title alignment */
  .main-title h1{ padding-left: 122px;}
  .main-title h2{ padding-left: 122px;}

  /* ! hero adjustment */
  .presentation-image{ margin: 22vh 9.5vw 10vh 9.5vw;}
  .presentation-image h1{ padding: 0 7vw; top: 14vw; font-size: 34px; width: 67vw;}
  .presentation-image h2{ padding: 0 7vw; top: 18.3vw; font-size: 34px; width: 67vw;}
  .presentation-image p{ top: 24.3vw; font-size: 14px;}

  /* ! Partners */
  .partners{ margin: 68vw 12vw 20vh 12vw;}
  .partners h2{ font-size: 18px;}

  .main-title{ font-size: 40px;}
  .certifications p{ font-size: 17px;}
  .certificate-texts{ margin-top: 0vh;}
  .certificate-texts p{ font-size: 16px;}

  /* ! Works */
  .works h1{ width: 76vw; margin: 20vh 12vw 10vh 12vw;}

  /* ! Button */
  .button{
    height: 40px;
    width: 140px;
    margin: 9px 0px;
  }

  .button a p{
    padding: 13px 0 12px 0;
    font-size: 17px;
  }

  /* ! Footer */
  .footer-blocks p{ font-size: 13px;}
  #footer-info-title h1{ font-size: 18px; margin-top: 3vw;}

}
@media (max-width: 880px) {

  /* ! hero adjustment */
  .presentation-image{ margin: 22vh 9.5vw 10vh 9.5vw;}
  .presentation-image h1{ padding: 0 7vw; top: 18vw; font-size: 30px; width: 67vw;}
  .presentation-image h2{ padding: 0 7vw; top: 22.3vw; font-size: 30px; width: 67vw;}
  .presentation-image p{ top: 28.3vw; font-size: 13px;}
  .header img{ height: 54px; width: auto; transition: opacity 1s;}

  .main-title h1{
    text-shadow: -0.2px 0 #434B4D, 0 0.2px #434B4D, 0.2px 0 #434B4D, 0 -0.2px #434B4D;
    font-size: 34px;
    letter-spacing: 1.4px;
    padding-left: 100px;
  }

  .main-title h2{
    font-size: 14px;
    color: #434B4D;
    letter-spacing: 1.3px;
    padding-left: 100px;
  }

  /* ! Button */
  .button{
    height: 40px;
    width: 120px;
    margin: 6px 0px;
  }

  .button a p{
    padding: 13px 0 12px 0;
    font-size: 17px;
  }

  /* ! Presentation image */
  .mobile-hero-bg{ display: block;}
  .mobile-hero-bg2{ display: none;}
  .hero-bg{ display: none;}

  /* ! Partners */
  .partners{ margin: 80vw 12vw 20vh 12vw;}
  .partners h2{ font-size: 18px;}

  /* ! Certifications */
  .certificate-texts{ margin-top: 0vh;}
  .certificate-texts p{ font-size: 14px;}

  /* ! Footer */
  .footer-blocks p{ font-size: 13px;}
  #footer-info-title h1{ font-size: 18px; margin-top: 3vw;}

}
@media (max-width: 670px) {

  /* ! hero adjustment */
  .presentation-image{ margin: 22vh 9.5vw 10vh 9.5vw;}
  .presentation-image h1{ padding: 0 7vw; top: 18vw; font-size: 28px; width: 67vw;}
  .presentation-image h2{ padding: 0 7vw; top: 23vw; font-size: 28px; width: 67vw;}
  .presentation-image p{ top: 29.8vw; font-size: 12px;}
  .header img{ height: 50px; width: auto; transition: opacity 1s;}

  .main-title{ font-size: 34px; letter-spacing: 1.4px;}

  .main-title h1{
    font-size: 34px;
    letter-spacing: 1.4px;
    padding-left: 80px;
  }

  .main-title h2{
    font-size: 14px;
    color: #434B4D;
    letter-spacing: 1.3px;
    padding-left: 80px;
  }

  /* ! Button */
  .button{
    height: 36px;
    width: 100px;
    margin: 6px 0px;
  }

  .button a p{
    padding: 12px 0 9px 0;
    font-size: 15px;
  }

  /* ! Presentation image */
  .mobile-hero-bg{ display: block;}
  .mobile-hero-bg2{ display: none;}
  .hero-bg{ display: none;}

  /* ! Partners */
  .partners{ margin: 85vw 12vw 20vh 12vw;}
  .partners h2{ font-size: 18px;}

  /* ! Certifications */
  .certificate-texts{ margin-top: 0vh;}
  .certifications p{ font-size: 15px;}
  .certificate-texts h3{ font-size: 24px;}
  .certificate-texts p{ font-size: 12.5px; margin-bottom: 10vh;}

  /* ! Footer */
  .footer-blocks p{ font-size: 12px;}
  #footer-info-title h1{ font-size: 18px; margin-top: 1.5vw;}

}
@media (max-width: 618px) {

  /* ! Hero - header */
  .header{
    width: 84vw;
    margin: 2vh 8vw;
  }

  /* ! hero adjustment */
  .presentation-image{ width: 92vw; margin: 18vh 4vw 10vh 4vw;}
  .presentation-image h1{ padding: 0 9vw; top: 27.8vw; font-size: 28px; width: 74vw;}
  .presentation-image h2{ padding: 0 9vw; top: 33.5vw; font-size: 28px; width: 74vw;}
  .presentation-image p{ padding: 0 13vw; top: 46.3vw; font-size: 12px; width: 66vw;}
  .header img{ height: 40px; width: auto; transition: opacity 1s;}

  .main-title h1{
    text-shadow: -0.2px 0 #434B4D, 0 0.2px #434B4D, 0.2px 0 #434B4D, 0 -0.2px #434B4D;
    font-size: 30px;
    letter-spacing: 1.4px;
    padding-left: 80px;
  }

  .main-title h2{
    font-size: 13px;
    letter-spacing: 1.2px;
    padding-left: 80px;
  }

  /* ! Button */
  .button{
    height: 34px;
    width: 100px;
    margin: 0px 0px;
  }

  .button a p{
    padding: 11px 0 10px 0;
    font-size: 16px;
  }

  /* ! Presentation image */
  .mobile-hero-bg{ display: none;}
  .mobile-hero-bg2{ display: block;}
  .hero-bg{ display: none;}

  /* ! Partners */
  .partners{ margin: 108vw 12vw 20vh 12vw;}
  .partners h2{ font-size: 18px;}

  /* ! Certifications */
  .certifications{
    width: 84vw;
    margin: 0vh 8vw 10vh 8vw;
  }

  .main-title{
    font-size: 30px;
    margin-bottom: 2.5vh;
  }

  .certifications p{
    font-size: 15px;
    margin: 0 20%;
    line-height: 1.3;
  }

  .certificate-1{
    display: block;
    margin: 10vh 0 14vh 0;
    width: 100%;
  }

  .certificate-1 img{
    width: 30vw;
    height: 30vw;
    padding: 0 27vw;
  }

  .certificate-2{
    display: block;
    padding-top: 10vh;
    margin: 0vh 0 14vh 0;
    width: 100%;
    border-top: 1px solid #B4B4B5;
  }

  .certificate-2 img{
    width: 34vw;
    height: 34vw;
    padding: 0 25vw;
  }

  .certificate-texts{ width: 70%; padding: 0 15%; margin-top: 10vh;}

  .certificate-texts h3{
    text-align: center;
    font-size: 22px;
    padding-left: 0vw;
  }

  .certificate-texts p{
    text-align: center;
    font-size: 14px;
    padding-left: 0vw;
    margin: 3vh 0;
  }

  /* ! Old works */
  .works{
    width: 100vw;
    margin-bottom: 10vw;
  }

  .works h1{ width: 76vw; margin: 20vh 12vw 10vh 12vw;}

  .scrollmenu{
    overflow: auto;
    white-space: nowrap;
    width: 90vw;
    margin-left: 10vw;
    padding: 20px 0;
  }

  .scrollmenu .card{
    display: inline-block;
    box-shadow: 0px 8px 20px 0px rgba(239, 234, 234, 0.5);
    margin: 0px 3px 10px 15px;
    background-color: #FEFFFF;
    width: 28vw;
    height: 28vw;
  }

  .card img{ width: 100%;}

  /* ! Footer */
  .footer-blocks p{ font-size: 13px;}
  #footer-info-title h1{ font-size: 18px; margin-top: 3vw;}

}
@media (max-width: 520px) {

  .hero{ height: 60vh;}

  /* ! Hero - header */
  .header{
    width: 84vw;
    margin: 2vh 8vw;
  }

  /* ! hero adjustment */
  .presentation-image{ width: 92vw; margin: 18vh 4vw 0vh 4vw;}
  .presentation-image h1{ padding: 0 8vw; top: 23.7vw; font-size: 22px; width: 76vw;}
  .presentation-image h2{ padding: 0 8vw; top: 29.5vw; font-size: 22px; width: 76vw;}
  .presentation-image p{ padding: 0 13vw; top: 44vw; font-size: 11px; width: 66vw;}
  .header img{ height: 36px; width: auto; transition: opacity 1s;}

  .main-title h1{
    text-shadow: -0.2px 0 #434B4D, 0 0.2px #434B4D, 0.2px 0 #434B4D, 0 -0.2px #434B4D;
    font-size: 24px;
    letter-spacing: 1.4px;
    padding-left: 60px;
  }

  .main-title h2{
    font-size: 11px;
    letter-spacing: 1.2px;
    padding-left: 60px;
  }

  /* ! Button */
  .button{
    height: 30px;
    width: 80px;
    margin: 2px 0px;
  }

  .button a p{
    padding: 10px 1px 6px 0;
    font-size: 14px;
  }

  /* ! Presentation image */
  .mobile-hero-bg{ display: none;}
  .mobile-hero-bg2{ display: block;}
  .hero-bg{ display: none;}

  /* ! Partners */
  .partners{ margin: 115vw 12vw 20vh 12vw;}
  .partners h2{ width: 100%; font-size: 14px;}

  .partners__photos{
    margin-top: 3vh;
    width: 84vw;
    display: flex;
  }

  /* ! Certifications */
  .certifications{
    width: 84vw;
    margin: 0vh 8vw 10vh 8vw;
  }

  .main-title{
    font-size: 30px;
    margin-bottom: 2.5vh;
  }

  .certifications p{
    font-size: 15px;
    margin: 0 20%;
    line-height: 1.3;
  }

  .certificate-1{
    display: block;
    margin: 10vh 0 14vh 0;
    width: 100%;
  }

  .certificate-1 img{
    width: 30vw;
    height: 30vw;
    padding: 0 27vw;
  }

  .certificate-2{
    display: block;
    padding-top: 10vh;
    margin: 0vh 0 14vh 0;
    width: 100%;
    border-top: 1px solid #B4B4B5;
  }

  .certificate-2 img{
    width: 34vw;
    height: 34vw;
    padding: 0 25vw;
  }

  .certificate-texts{ width: 70%; padding: 0 15%; margin-top: 10vh;}

  .certificate-texts h3{
    text-align: center;
    font-size: 22px;
    padding-left: 0vw;
  }

  .certificate-texts p{
    text-align: center;
    font-size: 14px;
    padding-left: 0vw;
    margin: 3vh 0;
  }

  /* ! Old works */
  .works{
    width: 100vw;
    margin-bottom: 10vw;
  }

  .works h1{ width: 76vw; margin: 20vh 12vw 10vh 12vw;}

  .scrollmenu{
    overflow: auto;
    white-space: nowrap;
    width: 90vw;
    margin-left: 10vw;
    padding: 20px 0;
  }

  .scrollmenu .card{
    display: inline-block;
    box-shadow: 0px 8px 20px 0px rgba(239, 234, 234, 0.5);
    margin: 0px 3px 10px 15px;
    background-color: #FEFFFF;
    width: 35vw;
    height: 35vw;
  }

  .card img{ width: 100%;}

  /* ! Footer */
  .footer{
    width: 84vw;
    padding: 4vh 8vw 0vh 8vw;
  }

  .footer-blocks img{
    height: 5vw;
    margin-bottom: 30px;
  }

  .footer-blocks p{
    margin: 0 0 1.5vh 2vw;
    font-size: 10px;
  }

  #footer-info-title{ width: 100%; margin-left: 2vw;}

  #footer-info-title h1{
    color: #707778;
    font-size: 15px;
    margin-top: 2vw;
    margin-bottom: 30px;
  }

  .footer-ending h4{ font-size: 10px;}
}
@media (max-width: 390px) {

  .hero{ height: 70vh;}

  /* ! Hero - header */
  .header{
    width: 88vw;
    margin: 2vh 6vw;
  }

  /* ! hero adjustment */
  .presentation-image{ width: 96vw; margin: 14vh 2vw 0vh 2vw;}
  .presentation-image h1{ padding: 0 8vw; top: 23.7vw; font-size: 19.5px; width: 80vw;}
  .presentation-image h2{ padding: 0 9vw; top: 29.5vw; font-size: 19.5px; width: 78vw;}
  .presentation-image p{ padding: 0 10vw; top: 45.5vw; font-size: 11px; width: 76vw;}
  .header img{ height: 32px; width: auto; transition: opacity 1s;}

  .main-title h1{
    text-shadow: -0.1px 0 #434B4D, 0 0.1px #434B4D, 0.1px 0 #434B4D, 0 -0.1px #434B4D;
    font-size: 22px;
    letter-spacing: 1.4px;
    padding-left: 50px;
  }

  .main-title h2{
    font-size: 9.5px;
    letter-spacing: 1.2px;
    padding-left: 50px;
  }

  /* ! Button */
  .button{
    height: 26px;
    width: 66px;
    margin: 2px 0px;
  }

  .button a p{
    padding: 7.5px 1px 3.3px 0;
    font-size: 12px;
  }

  /* ! Presentation image */
  .mobile-hero-bg{ display: none;}
  .mobile-hero-bg2{ display: block;}
  .hero-bg{ display: none;}

  /* ! Partners */
  .partners{ width: 84vw; margin: 112vw 8vw 20vh 8vw;}
  .partners h2{ width: 100%; font-size: 11px; letter-spacing: 1px;}

  .partners__photos{
    margin-top: 2vh;
    width: 100%;
    display: flex;
  }

  .partners__photos img{
    width: 13vw;
    margin: 0 1.9vw;
  }

  /* ! Certifications */
  .certifications{
    width: 84vw;
    margin: -10vh 8vw 10vh 8vw;
  }

  .main-title{
    font-size: 22px;
    letter-spacing: 0.4px;
    margin-bottom: 2.5vh;
  }

  .certifications p{
    font-size: 13px;
    margin: -1vh 0% 0 0%;
    line-height: 1.3;
  }

  .certificate-1{
    display: block;
    margin: 3vh 0 6vh 0;
    width: 100%;
  }

  .certificate-1 img{
    width: 34vw;
    height: 34vw;
    padding: 0 25vw;
  }

  .certificate-2{
    display: block;
    padding-top: 3vh;
    margin: 0vh 0 4vh 0;
    width: 100%;
    border-top: 1px solid #B4B4B5;
  }

  .certificate-2 img{
    width: 34vw;
    height: 34vw;
    padding: 0 25vw;
  }

  .certificate-texts{ width: 90%; padding: 0 5%; margin-top: 3vh;}

  .certificate-texts h3{
    text-align: center;
    font-size: 18px;
    padding-left: 0vw;
  }

  .certificate-texts p{
    text-align: center;
    font-size: 11px;
    padding-left: 0vw;
    margin: 3vh 0;
  }

  /* ! Old works */
  .works{
    width: 100vw;
    margin-bottom: 10vw;
  }

  .works h1{ width: 80vw; margin: 10vh 10vw 4vh 10vw;}

  .scrollmenu{
    overflow: auto;
    white-space: nowrap;
    width: 90vw;
    margin-left: 10vw;
    padding: 20px 0;
  }

  .scrollmenu .card{
    display: inline-block;
    box-shadow: 0px 8px 20px 0px rgba(239, 234, 234, 0.5);
    margin: 0px 3px 10px 15px;
    background-color: #FEFFFF;
    width: 35vw;
    height: 35vw;
  }

  .card img{ width: 100%;}

    /* ! Footer */
  .footer{
    width: 84vw;
    padding: 4vh 8vw 0vh 8vw;
  }

  .footer-blocks img{
    height: 5vw;
    margin-bottom: 30px;
  }

  .footer-blocks p{
    margin: 0 0 1.5vh 2vw;
    font-size: 9px;
  }

  #footer-info-title{ width: 100%; margin-left: 2vw;}

  #footer-info-title h1{
    color: #707778;
    font-size: 13px;
    margin-top: 1vw;
    margin-bottom: 30px;
  }

  .footer-ending h4{ font-size: 9px; padding-bottom: 2.5vh;}
}
@media (max-width: 340px) {

  .hero{ height: 70vh;}

  /* ! Hero - header */
  .header{
    width: 88vw;
    margin: 2vh 6vw;
  }

  /* ! hero adjustment */
  .presentation-image{ width: 96vw; margin: 14vh 2vw 0vh 2vw;}
  .presentation-image h1{ padding: 0 8vw; top: 23.7vw; font-size: 17px; width: 80vw;}
  .presentation-image h2{ padding: 0 9vw; top: 29.5vw; font-size: 17px; width: 78vw;}
  .presentation-image p{ padding: 0 10vw; top: 43.5vw; font-size: 9px; width: 76vw;}
  .header img{ height: 28px; width: auto; transition: opacity 1s;}

  .main-title h1{
    text-shadow: -0.1px 0 #434B4D, 0 0.1px #434B4D, 0.1px 0 #434B4D, 0 -0.1px #434B4D;
    font-size: 19px;
    letter-spacing: 1.4px;
    padding-left: 50px;
  }

  .main-title h2{
    font-size: 8.5px;
    letter-spacing: 1.2px;
    padding-left: 50px;
  }

  /* ! Button */
  .button{
    height: 22px;
    width: 60px;
    margin: 2px 0px;
  }

  .button a p{
    padding: 7px 1px 5.8px 0;
    font-size: 10px;
  }

  /* ! Presentation image */
  .mobile-hero-bg{ display: none;}
  .mobile-hero-bg2{ display: block;}
  .hero-bg{ display: none;}

  /* ! Partners */
  .partners{ width: 84vw; margin: 112vw 8vw 20vh 8vw;}
  .partners h2{ width: 100%; font-size: 9px; letter-spacing: 1px;}

  .partners__photos{
    margin-top: 2vh;
    width: 100%;
    display: flex;
  }

  .partners__photos img{
    width: 13vw;
    margin: 0 1.9vw;
  }

  /* ! Certifications */
  .certifications{
    width: 84vw;
    margin: -10vh 8vw 10vh 8vw;
  }

  .main-title{
    font-size: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 2.5vh;
  }

  .certifications p{
    font-size: 11px;
    margin: -1vh 0% 0 0%;
    line-height: 1.3;
  }

  .certificate-1{
    display: block;
    margin: 3vh 0 6vh 0;
    width: 100%;
  }

  .certificate-1 img{
    width: 34vw;
    height: 34vw;
    padding: 0 25vw;
  }

  .certificate-2{
    display: block;
    padding-top: 3vh;
    margin: 0vh 0 4vh 0;
    width: 100%;
    border-top: 1px solid #B4B4B5;
  }

  .certificate-2 img{
    width: 34vw;
    height: 34vw;
    padding: 0 25vw;
  }

  .certificate-texts{ width: 90%; padding: 0 5%; margin-top: 3vh;}

  .certificate-texts h3{
    text-align: center;
    font-size: 17px;
    padding-left: 0vw;
  }

  .certificate-texts p{
    text-align: center;
    font-size: 10px;
    padding-left: 0vw;
    margin: 3vh 0;
  }

  /* ! Old works */
  .works{
    width: 100vw;
    margin-bottom: 10vw;
  }

  .works h1{ width: 80vw; margin: 10vh 10vw 4vh 10vw;}

  .scrollmenu{
    overflow: auto;
    white-space: nowrap;
    width: 90vw;
    margin-left: 10vw;
    padding: 20px 0;
  }

  .scrollmenu .card{
    display: inline-block;
    box-shadow: 0px 8px 20px 0px rgba(239, 234, 234, 0.5);
    margin: 0px 3px 10px 15px;
    background-color: #FEFFFF;
    width: 28vw;
    height: 28vw;
  }

  .card img{ width: 100%;}

  /* ! Footer */
  .footer{
    width: 84vw;
    padding: 4vh 8vw 0vh 8vw;
  }

  .footer-blocks img{
    height: 5vw;
    margin-bottom: 30px;
  }

  .footer-blocks p{
    margin: 0 0 1.5vh 2vw;
    font-size: 9px;
  }

  #footer-info-title{ width: 100%; margin-left: 2vw;}

  #footer-info-title h1{
    color: #707778;
    font-size: 13px;
    margin-top: 1vw;
    margin-bottom: 30px;
  }

  .footer-ending h4{ font-size: 9px; padding-bottom: 2.5vh;}
}
